body
{
background-image:url(12.jpg);
background-repeat:no-repeat;
background-size:100%;
}


.circleimage {
	width: 250px;
	height: 250px;
	border-radius:50%;
	margin: 1px auto;
	position: relative;
	top: 40px;
	left: -10px;
	display: block;
	z-index: 1;

}

.secondphoto{
	width: 55%;
	height:100%;
	position: relative;
	top: -30px;
	left: 315px;



}
.container:hover img{
	transform: scale(1.2);
	transition:0.75s;
	filter:brightness(1);
}
